{% for i in interfaces %}
    {% if i.addr_type == "dhcp" %}
del interfaces {{ i.interface }} unit {{ i.unit }} family {{ i.family }} dhcp
    {% else %}
del interfaces {{ i.interface }} unit {{ i.unit }} family {{ i.family }} {{ i.addr_type }} {{ i.addr }}
    {% endif %}
{% endfor %}
